<%- include("header") -%>
  <div class="box" id="heading" >
  <h1><%= params.listTitle %></h1>
  </div>
  <div class="box">
      <%params.items.forEach(element=>{%>
    <div class="item">
        <input type="checkbox">
        <p><%= element %></p>
    </div>
      <%})%>
      <form class="item" action="/" method="post">
        <input type="text" name="item" id="item" placeholder="New Item" autocomplete="off"/>
        <button type="submit" name="list" value=<%= params.listTitle %>>+</button>
      </form>
  </div>

<%- include("footer") -%>
